<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h1>商品一覧</h1>
<table>
  <tbody>
    <tr>
      <th>商品画像</th>
      <th>商品名</th>
      <th>商品説明</th>
      <th>値段</th>
    </tr>
   </tbody>
</table>
<table>
<% @items.each do |item| %>
<table>
  <tbody>
    <tr>
      <th>
        <%= link_to admin_item_path(item.id) do%>
          <%= image_tag item.get_image %>
        <% end %>
      </th>
      <th><%= item.name%></th>
      <th><%= item.introduction%></th>
      <th><%= item.price%></th>
      <td><%= link_to '商品詳細',admin_item_path(item.id),class: "btn btn-success btn-sm btn-block sign_up"%></td>
    </tr>
    </tbody>
</table>
<% end %>
<%= link_to "新商品登録", new_admin_item_path, class: "btn btn-success btn-sm btn-block sign_up" %>
</div>
    </div>
      </div>
