<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>顧客情報変更</h1>
<%= form_with model: @customer,url:admin_customers_path do |f| %>
<div class="field">
  <%= f.label :苗字 %><br>
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :名前 %><br>
  <%= f.text_field :first_name %>
</div>
<%= link_to "退会処理", admin_customers_path(@customer.id), class: "btn btn-sm btn-danger", method: :delete %>
<%= f.submit '顧客情報変更'%>
<% end %>
</div>
  </div>
    </div>