<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>顧客情報詳細</h1>
<%= form_with model: @customer,url:admin_customer_path do |f| %>
<table>
  <thead>
    <tr>
      <th>姓</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>ステータス</th>
    </tr>
  </thead>
 <tbody>
    <tr></tr>
      <th><%= @customer.first_name%></th>
      <th><%= @customer.postal_code%></th>
      <th><%= @customer.address%></th>
      <th><%= @customer.telephone_number%></th>
      <th><%= f.select :is_deleted, Customer.is_deleted.keys, class: "is_deleted" %></th>
    </tr>
 </tbody>
</table>
<% end %>
<%= link_to "顧客情報変更", edit_admin_customer_path, class: "btn btn-success btn-sm btn-block sign_up" %>
</div>
  </div>
    </div>