<h1>Nagano_Cakeジャンル一覧</h1>
<%= form_with model: @genre,url:admin_genres_path do |f| %>
<div class="field">
  <%= f.label :ジャンル %><br>
  <%= f.text_field :mame %>
</div>
<br>  <%= f.submit '新商品', class: "btn btn-success" %>
<% end %>
<% @genres.each do |genre| %>
  <%= genre.name%>
<% end %>