<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>商品カゴ</h1>
<%= form_with model: @cart_item,url:public_cart_items_path do |f| %>
<table>
<thead>
  <th>商品画像</th>
  <th>商品名</th>
  <th>個数</th>
  <th>値段</th>
  <th>単価(税込)</th>
  <th>小計</th>
</thead>
<tbody>
<% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= image_tag cart_item.item.get_image %></td>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.item.price%></td>
      <td><%= cart_item.item.with_tax_price%></td>
      <td><%= cart_item.subtotal%></td>
      <td><%= link_to '購入取り消し', public_cart_item_path(cart_item), method: :delete, class: "btn btn-success btn-sm btn-block sign_up"%></td>
      <%= f.hidden_field :cart_items,value: @cart_item%>
    </tr>
</tbody>
</table>
¥<%= @total.round.to_s(:delimited)%>
<%= f.submit '注文画面へ', class: "btn btn-success"%>
<%= link_to '買い物を続ける', public_customers_path, class: "btn btn-success"%>
<% end %>
<% end %>
<%#= link_to '空にする', public_cart_items_path(cart_item), method: :delete_all, class: "btn btn-success btn-sm btn-block sign_up"%>
</div>
  </div>
    </div>

