<h1>商品カゴ</h1>
<thead>
  <th>商品画像</th>
  <th>商品名</th>
  <th>商品説明</th>
  <th>値段</th>
</thead>
<tbody>
<% @items.each do |item| %>
  <tr>
      <th><%= link_to '商品詳細',admin_item_path(item.id)%></th>
      <th><%= item.name%></th>
      <th><%= item.introduction%></th>
      <th><%= item.price%></th>
  </tr>
</tbody>
<% end %>
<thead>
    <th>単価(税込)</th>
    <th>小計</th>
</thead>
<tbody>
<% @cart_items.each do |cart_item| %>
    <tr>
        <td><%= cart_item.item.with_tax_price%></td>
        <td><%= cart_item.subtotal%></td>
        <% @合計金額 +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
    </tr>
<% end %>
</tbody>