<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>商品カゴ</h1>
<table>
<thead>
  <th>商品画像</th>
  <th>商品名</th>
  <th>個数</th>
  <th>値段</th>
  <th>購入取り消し</th>
</thead>
<% @cart_items.each do |cart_items| %>
<tbody>
  <tr>
      <th><%#= image_tag @item.get_image %></th>
      <th><%#= @cart_item.item_id%></th>
      <th><%= cart_item.amount %></th>
      <th><%= @item.price%></th>
      <tH><%= link_to '購入取り消し', public_cart_item_path(@cart_items), method: :delete, class: "btn btn-success btn-sm btn-block sign_up"%></tH>
  </tr>
</tbody>
</table>
<% end %>
</div>
  </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<table>
<thead>
    <th>単価(税込)</th>
    <th>小計</th>
</thead>
<tbody>
<% @cart_items.each do |cart_item| %>
    <tr>
        <td><%= cart_item.item.with_tax_price%></td>
        <td><%= cart_item.subtotal%></td>
        <% @合計金額 +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
    </tr>
</tbody>
</table>
<%= f.submit '注文画面へ', class: "btn btn-success"%>
¥<%= @total.round.to_s(:delimited)%>
<% end %>
<%= link_to '買い物を続ける', public_customers_path, class: "btn btn-success"%>
</div>
  </div>
    </div>

