<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h1>注文情報確認</h1>
<% @cart_items.each do |cart_item| %>
<table>
  <thead>
    <tr>
      <td>商品画像</td>
      <td>商品名</td>
      <td>個数</td>
      <td>合計金額</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag cart_item.item.get_image %></td>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.amount %></td>
      <td>¥<%= cart_item.subtotal%></td>
    </tr>
  </tbody>
</table>
<% end %>
<%= form_with model: @order,url:public_orders_path,method: :post do |f| %>
<P>合計金額 <%= @order.total_payemt%></P>
<p>支払方法 <%= @order.method_of_payment_i18n %></p>
<p>お届け先 <%= @order.address%></p>
<%= f.hidden_field :method_of_payment,value: @order.method_of_payment %>
<%= f.hidden_field :postal_code,value: @order.postal_code %>
<%= f.hidden_field :address,value: @order.address %>
<%= f.hidden_field :name,value: @order.name %>
<%= f.submit '注文確定', class: "btn btn-success" %>
<% end %>
</div>
  </div>
    </div>