<h1>注文履歴詳細</h1>
<table>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>商品名単価個数小計</th>
      <th>商品合計送料支払金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @order.created_at.strftime('%Y年%m月%d日 %H時%M分')%></th>
      <th><%= @order.address%></th>
      <th><%= @order.method_of_payment_i18n%></th>
      <td><% @order.order_details.each do |order_detail|%>
        <%= order_detail.item.name %>
        <%= order_detail.item.price %>
        <%= order_detail.amount %>
        <%= order_detail.order.total_payemt %>
      <% end %></td>
      <th>¥<%= @order.total_payemt%>¥<%= @order.shipping_fee%>¥<%= @order.total_payemt + @order.shipping_fee%></th>
    </tr>
  </tbody>
</table>
