<h1>商品一覧</h1>
<% @items.each do |item|%>
<table>
  <thead>
     <tr>
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品説明</th>
        <th>値段</th>
     </tr>
     <tr>
        <th>
          <%= link_to public_item_path(item.id) do%>
          <%= image_tag item.get_image %>
        <% end %>
        </th>
        <th><%= item.name%></th>
        <th><%= item.introduction%></th>
        <th><%= item.price%></th>
     </tr>
   </thead>
</table>
<% end %>
